    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">

        <!-- Necessary markup, do not remove -->
        <div id="mws-sidebar-stitch"></div>
        <div id="mws-sidebar-bg"></div>
<!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
                            
                            


            <!-- Main Navigation -->
           

            <div id="mws-navigation">
                    <ul>
                    <!-- li的class为active时表示选择 -->
                    <!--<li class="active"><a href="dashboard.html"><i class="icon-home"></i> Dashboard</a></li>-->
                    <!-- 用户管理开始 -->
                     
                    <li><a href="/"><i class="icon-home"></i>控制台</a>
                        
                    </li>
                                     
                    <li><a href="JavaScript:void(0)"><i class="icon-users"></i>用户管理</a>
                        <ul id="user-manger" style="display:none;">
                            <li><a href="/user/list"> 用户列表</a></li>
                            <li ><a href="/user/qudao"> 按渠道汇总</a></li>                           
                            <li><a href="/user/date"> 按日期汇总</a></li>
                            <li><a href="/user/search"> 用户搜索</a></li>
                    <!-- 用户管理结束 -->
                        </ul>
                    </li>
                    
                    <li><a href="JavaScript:void(0)"><i class="icon-shopping-cart"></i>财务管理</a>
                        <ul style="display:none;" id="finance-manger">
                            <li><a href="/finance/order">订单列表</a></li>
                            <li><a href="/finance/qudao">按渠道汇总</a></li>
                            <li><a href="/finance/pay">支付方式</a></li>
                            <li><a href="/finance/date">按日期汇总</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="JavaScript:void(0)"><i class="icon-food"></i>渠道管理</a>
                        <ul style="display:none;" id="channel-manger">
                            <li><a href="/channel/partner">合作渠道</a></li>
                            <li><a href="/channel/platform">账号平台</a></li>
                            <li><a href="/channel/pay">支付方式</a></li>
                            
                        </ul>
                    </li>
                   
                    <li><a href="JavaScript:void(0)"><i class="icon-github"></i>游戏●牛牛</a>
                        <ul style="display:none;" id="game-manger">
                            <li><a href="/game/roomList">房间列表</a></li>
                            <li><a href="/game/roomAttr">房间属性</a></li>
                            <li><a href="/game/userlevellist">等级设置</a></li>
                        </ul>
                    </li>
                    <li><a href="JavaScript:void(0)"><i class="icon-user"></i>后台管理</a>
                        <ul style="display:none;" id="admin-manger">
                            <li><a href="/admin/list">管理员列表</a></li>
                            <li><a href="/admin/add">添加管理员</a></li>
                             
                        </ul>
                    </li>
   
                </ul>

    
            </div>
        </div>


         
