<?php
  
 Yaf_View_Simple::display( "public/head.html"/*,$mune*/);
  ?>



<!-- menu.html开始 -->
<?php
 
 Yaf_View_Simple::display( "public/menu.html"/*,$mune*/);
?>
<!-- menu.html结束 -->




        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">

        	<!-- Inner Container Start -->
            <div id="mws_content" class="container">
 
            	<!-- Statistics Button Container --><!-- Panels Start -->

            	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-table"></i> 后台管理 -- 管理员列表</span> 
                    </div>
                    <div role="grid" class="dataTables_wrapper" id="DataTables_Table_0_wrapper">

                        <div class="mws-panel-body no-padding">
 
                             <table class="mws-datatable-fn mws-table">
                            <thead>
                                <tr role="row">
                                    <th>用户名</th>
                                    <th>真实名字</th>
                                    <th>邮箱</th>
                                    <th>创建时间</th>
                                    <th>创建IP</th>
                                    <th>登录时间</th>
                                    <th>登录IP</th>                                   
                                    <th>用户职责</th>
                                    <th>用户状态</th>
                                    <th>管理操作</th>
                                </tr>
                            </thead>
                            <tbody align="center">
                            
                                <tr >
                                    <td>hehe</td>
                                    <td>呵呵</td>
                                    <td>hehe@hehe.com</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>管理员</td>
                                    <td>正常</td>                                    
                                    <td> 
                                        <span class="btn-group">                                      
                                            <a href="/admin/edit" class="btn btn-small" title="编辑"><i class="icon-pencil"></i></a>                                        
                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td>hehe</td>
                                    <td>呵呵</td>
                                    <td>hehe@hehe.com</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>管理员</td>
                                    <td>正常</td>                                    
                                    <td> 
                                        <span class="btn-group">                                      
                                            <a href="/admin/edit" class="btn btn-small" title="编辑"><i class="icon-pencil"></i></a>                                        
                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td>hehe</td>
                                    <td>呵呵</td>
                                    <td>hehe@hehe.com</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>管理员</td>
                                    <td>正常</td>                                    
                                    <td> 
                                        <span class="btn-group">                                      
                                            <a href="/admin/edit" class="btn btn-small" title="编辑"><i class="icon-pencil"></i></a>                                        
                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td>hehe</td>
                                    <td>呵呵</td>
                                    <td>hehe@hehe.com</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>管理员</td>
                                    <td>正常</td>                                    
                                    <td> 
                                        <span class="btn-group">                                      
                                            <a href="/admin/edit" class="btn btn-small" title="编辑"><i class="icon-pencil"></i></a>                                        
                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td>hehe</td>
                                    <td>呵呵</td>
                                    <td>hehe@hehe.com</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>管理员</td>
                                    <td>正常</td>                                    
                                    <td> 
                                        <span class="btn-group">                                      
                                            <a href="/admin/edit" class="btn btn-small" title="编辑"><i class="icon-pencil"></i></a>                                        
                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td>hehe</td>
                                    <td>呵呵</td>
                                    <td>hehe@hehe.com</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>管理员</td>
                                    <td>正常</td>                                    
                                    <td> 
                                        <span class="btn-group">                                      
                                            <a href="/admin/edit" class="btn btn-small" title="编辑"><i class="icon-pencil"></i></a>                                        
                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td>hehe</td>
                                    <td>呵呵</td>
                                    <td>hehe@hehe.com</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>管理员</td>
                                    <td>正常</td>                                    
                                    <td> 
                                        <span class="btn-group">                                      
                                            <a href="/admin/edit" class="btn btn-small" title="编辑"><i class="icon-pencil"></i></a>                                        
                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td>hehe</td>
                                    <td>呵呵</td>
                                    <td>hehe@hehe.com</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>管理员</td>
                                    <td>正常</td>                                    
                                    <td> 
                                        <span class="btn-group">                                      
                                            <a href="/admin/edit" class="btn btn-small" title="编辑"><i class="icon-pencil"></i></a>                                        
                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td>hehe</td>
                                    <td>呵呵</td>
                                    <td>hehe@hehe.com</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>管理员</td>
                                    <td>正常</td>                                    
                                    <td> 
                                        <span class="btn-group">                                      
                                            <a href="/admin/edit" class="btn btn-small" title="编辑"><i class="icon-pencil"></i></a>                                        
                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td>hehe</td>
                                    <td>呵呵</td>
                                    <td>hehe@hehe.com</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>2013-04-03</td>
                                    <td>127.0.0.1</td>
                                    <td>管理员</td>
                                    <td>正常</td>                                    
                                    <td> 
                                        <span class="btn-group">                                      
                                            <a href="/admin/edit" class="btn btn-small" title="编辑"><i class="icon-pencil"></i></a>                                        
                                        </span>
                                    </td>
                                </tr>
                                
                              
                                
                            </tbody>
                             </table>
                         </div>

                   
                    </div>
              </div>

                <!-- Panels End -->

   
            <!-- Inner Container End -->
       </div>

     </div>
    <!-- Main Container End -->
<?php
        Yaf_View_Simple::display( "public/bottom.html"/*,$mune*/);
     
 ?>

<!-- Demo Scripts (remove if not needed) -->
<script src="/static/js/demo/demo.table.js"></script> 
<script>
    document.getElementById("admin-manger").style.display = "block"
</script>    