<?php
if(!Y::isAjax()){
 Yaf_View_Simple::display( "public/head.html"/*,$mune*/);
} 

?>



<!-- menu.html开始 -->
<?php
if(!Y::isAjax()){
 Yaf_View_Simple::display( "public/menu.html"/*,$mune*/);
 
?>
<!-- menu.html结束 -->




        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">

        	<!-- Inner Container Start -->
            <div id="mws_content" class="container">
<?php } ?> 
            	<!-- Statistics Button Container --><!-- Panels Start -->

            	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	 <span><i class="icon-table"></i> 游戏●牛牛 -- 房间列表</span> 
                    </div>
                    <div role="grid" class="dataTables_wrapper" id="拼">

                        <div class="mws-panel-body no-padding">                           
                             <table class="mws-datatable-fn mws-table">
                            <thead>
                                <tr role="row">
                                    <th>房间ID</th>
                                    <th>房间名称</th>
                                    <th>大盲注</th>
                                    <th>小盲注</th>
                                    <th>最少携带</th>
                                    <th>最大携带</th>
                                    <th>所属场次</th>                                   
                                     
                                </tr>
                            </thead>
                            <tbody align="center">
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                            
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                <tr >
                                    <td>111</td>
                                    <td>game</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>20000</td>
                                    <td>40000</td>
                                    <td>
                                        普通场
                                    </td>
                                </tr>
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                        <td colspan="8" align="right"><?php echo $paginator ;?></td>
                                </tr>
                            </tfoot>
                            </table>
                        </div>

                   
                    </div>
              </div>

                <!-- Panels End -->

<?php if(!Y::isAjax()){ ?>   
            <!-- Inner Container End -->
       </div>

     </div>
    <!-- Main Container End -->
<?php

        Yaf_View_Simple::display( "public/bottom.html"/*,$mune*/);
    }
 ?>

<!-- Demo Scripts (remove if not needed) -->
<script src="/static/js/demo/demo.table.js"></script>
<script type="text/javascript" >


</script>
<script>
    document.getElementById("game-manger").style.display = "block"
</script>      