<?php
 
 Yaf_View_Simple::display( "public/head.html"/*,$mune*/);
 
 ?>



<!-- menu.html开始 -->
<?php
 
 Yaf_View_Simple::display( "public/menu.html"/*,$mune*/);
?>
<!-- menu.html结束 -->




        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">

        	<!-- Inner Container Start -->
            <div id="mws_content" class="container">
 
            	<!-- Statistics Button Container --><!-- Panels Start -->

            	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	 <span><i class="icon-table"></i> 财务管理 -- 商品列表</span> 
                    </div>
                    <div role="grid" class="dataTables_wrapper" id="DataTables_Table_0_wrapper">

                        <div class="mws-panel-body no-padding">

                             
                             <table class="mws-datatable-fn mws-table">

                                <div   class="dataTables_length">
                                    &nbsp;&nbsp;&nbsp;       
                                    <a class="btn btn-inverse" href="/finance/itemAdd">
                                    <i class="icon-music"></i>
                                    新增商品
                                    </a> 
                                </div>


                            <thead>
                                <tr role="row">
                                    <th>商品ID</th>
                                    <th>商品名</th>
                                    <th>价格</th>
                                    <th>精品</th>
                                    <th>商品</th>
                                    <th>热卖</th>
                                    <th>操作</th>                                   
                                     
                                </tr>
                            </thead>
                            <tbody align="center">
                            
                                <tr >
                                   <td>1</td>
                                    <td>博乐币</td>
                                    <td>1.00</td>                                    
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>    
                                        <span class="btn-group">                                     
                                            <a href="" class="btn btn-small" title="销售统计"><i class="icon-list-2"></i></a> 
                                            <a href="" class="btn btn-small" title="修改"><i class="icon-pencil"></i></a> 
                                            <a href="" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>                                   
                                        </span>  
                                    </td>    
                                </tr>
                                <tr >
                                   <td>1</td>
                                    <td>博乐币</td>
                                    <td>1.00</td>                                    
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>    
                                        <span class="btn-group">                                     
                                            <a href="" class="btn btn-small" title="销售统计"><i class="icon-list-2"></i></a> 
                                            <a href="" class="btn btn-small" title="修改"><i class="icon-pencil"></i></a> 
                                            <a href="" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>                                   
                                        </span>  
                                    </td>    
                                </tr>
                                <tr >
                                   <td>1</td>
                                    <td>博乐币</td>
                                    <td>1.00</td>                                    
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>    
                                        <span class="btn-group">                                     
                                            <a href="" class="btn btn-small" title="销售统计"><i class="icon-list-2"></i></a> 
                                            <a href="" class="btn btn-small" title="修改"><i class="icon-pencil"></i></a> 
                                            <a href="" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>                                   
                                        </span>  
                                    </td>    
                                </tr>
                                <tr >
                                   <td>1</td>
                                    <td>博乐币</td>
                                    <td>1.00</td>                                    
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>    
                                        <span class="btn-group">                                     
                                            <a href="" class="btn btn-small" title="销售统计"><i class="icon-list-2"></i></a> 
                                            <a href="" class="btn btn-small" title="修改"><i class="icon-pencil"></i></a> 
                                            <a href="" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>                                   
                                        </span>  
                                    </td>    
                                </tr>
                                <tr >
                                   <td>1</td>
                                    <td>博乐币</td>
                                    <td>1.00</td>                                    
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>    
                                        <span class="btn-group">                                     
                                            <a href="" class="btn btn-small" title="销售统计"><i class="icon-list-2"></i></a> 
                                            <a href="" class="btn btn-small" title="修改"><i class="icon-pencil"></i></a> 
                                            <a href="" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>                                   
                                        </span>  
                                    </td>    
                                </tr>
                                <tr >
                                   <td>1</td>
                                    <td>博乐币</td>
                                    <td>1.00</td>                                    
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>    
                                        <span class="btn-group">                                     
                                            <a href="" class="btn btn-small" title="销售统计"><i class="icon-list-2"></i></a> 
                                            <a href="" class="btn btn-small" title="修改"><i class="icon-pencil"></i></a> 
                                            <a href="" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>                                   
                                        </span>  
                                    </td>    
                                </tr>
                                <tr >
                                   <td>1</td>
                                    <td>博乐币</td>
                                    <td>1.00</td>                                    
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>    
                                        <span class="btn-group">                                     
                                            <a href="" class="btn btn-small" title="销售统计"><i class="icon-list-2"></i></a> 
                                            <a href="" class="btn btn-small" title="修改"><i class="icon-pencil"></i></a> 
                                            <a href="" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>                                   
                                        </span>  
                                    </td>    
                                </tr>
                                <tr >
                                   <td>1</td>
                                    <td>博乐币</td>
                                    <td>1.00</td>                                    
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>    
                                        <span class="btn-group">                                     
                                            <a href="" class="btn btn-small" title="销售统计"><i class="icon-list-2"></i></a> 
                                            <a href="" class="btn btn-small" title="修改"><i class="icon-pencil"></i></a> 
                                            <a href="" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>                                   
                                        </span>  
                                    </td>    
                                </tr>
                                <tr >
                                   <td>1</td>
                                    <td>博乐币</td>
                                    <td>1.00</td>                                    
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>    
                                        <span class="btn-group">                                     
                                            <a href="" class="btn btn-small" title="销售统计"><i class="icon-list-2"></i></a> 
                                            <a href="" class="btn btn-small" title="修改"><i class="icon-pencil"></i></a> 
                                            <a href="" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>                                   
                                        </span>  
                                    </td>    
                                </tr>
                                <tr >
                                   <td>1</td>
                                    <td>博乐币</td>
                                    <td>1.00</td>                                    
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>    
                                        <span class="btn-group">                                     
                                            <a href="" class="btn btn-small" title="销售统计"><i class="icon-list-2"></i></a> 
                                            <a href="" class="btn btn-small" title="修改"><i class="icon-pencil"></i></a> 
                                            <a href="" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>                                   
                                        </span>  
                                    </td>    
                                </tr>
                                <tr >
                                   <td>1</td>
                                    <td>博乐币</td>
                                    <td>1.00</td>                                    
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>    
                                        <span class="btn-group">                                     
                                            <a href="" class="btn btn-small" title="销售统计"><i class="icon-list-2"></i></a> 
                                            <a href="" class="btn btn-small" title="修改"><i class="icon-pencil"></i></a> 
                                            <a href="" class="btn btn-small" title="删除"><i class="icon-remove"></i></a>                                   
                                        </span>  
                                    </td>    
                                </tr>
                               
                                
                            </tbody>
                             </table>
                         </div>

                   <?php echo $fpage;?>
                    </div>
              </div>

                <!-- Panels End -->

   
            <!-- Inner Container End -->
       </div>

     </div>
    <!-- Main Container End -->
<?php
        Yaf_View_Simple::display( "public/bottom.html"/*,$mune*/);
    
 ?>

<!-- Demo Scripts (remove if not needed) -->
<script src="/static/js/demo/demo.table.js"></script>
<script>
    document.getElementById("finance-manger").style.display = "block"
</script>      