<?php
  
 Yaf_View_Simple::display( "public/head.html"/*,$mune*/);
  ?>



<!-- menu.html开始 -->
<?php
  Yaf_View_Simple::display( "public/menu.html"/*,$mune*/);
?>
<!-- menu.html结束 -->    

        
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Inner Container Start -->
            <div id="mws_content" class="container">
            
            	<!-- Statistics Button Container --><!-- Panels Start -->
                
            	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-table"></i> 渠道管理 -- 新增合作渠道</span> 
                    </div>

                    <div class="mws-panel-body no-padding">
                         
                    	<form  id ="room-level-form" class="mws-form" action="/channel/newitem/action/cooperation" method="post" onsubmit="return check();">
                            <br/>
                    		<div class="mws-form-inline">
                    			<div class="mws-form-row">
                    				<label class="mws-form-label" >渠道</label>
                    				<div class="mws-form-item">
                                        <input id="name" name='name' type="text" value="" class="small"><span id="msgName"></span>
                    				</div>
                                </div>
                                <div class="mws-form-row">
                    				<label class="mws-form-label" >渠道代号</label>
                    				<div class="mws-form-item">
                                        <input id="id" name='id' type="text" class="small"><span id="msgId"></span>
                    				</div>
                                </div>
                                <div class="mws-form-row">
                    				<label class="mws-form-label" >分成比例</label>
                    				<div class="mws-form-item">
                    					<input name='rate' type="text" class="small">
                    				</div>
                                </div>
                                <div class="mws-form-row">
                    				<label class="mws-form-label" >能否登陆</label>
                    				<div class="mws-form-item">
                    				<input name="can_login" class="ibutton" type="checkbox" data-label-on="能" data-label-off="否" value="1" checked="checked" onchange='ifgrab(this)'>
                    				</div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label" >登陆账号</label>
                    				<div class="mws-form-item">
                    					<input name='username' type="text" class="small">
                    				</div>
                    			</div>
                    			 
                                <div class="mws-form-row">
                    				<label class="mws-form-label" >登陆密码</label>
                    				<div class="mws-form-item">
                    					<input name='password' type="password" class="small">
                    				</div>

                                </div>
                                <div class="mws-form-row">
                    				<label class="mws-form-label" >密保邮箱</label>
                    				<div class="mws-form-item">
                    					<input name='safe_email' type="text" class="small">
                    				</div>

                                </div>
                                <div class="mws-form-row">
                    				<label class="mws-form-label" >联系人</label>
                    				<div class="mws-form-item">
                    					<input name='contract' type="text" class="small">
                    				</div>

                                </div>
                                <div class="mws-form-row">
                    				<label class="mws-form-label" >联系人电话</label>
                    				<div class="mws-form-item">
                                    <input name='mobile' type="text" class="small">
                    				</div>

                                </div>
                                <div class="mws-form-row">
                    				<label class="mws-form-label" >收款人省份证号/护照号</label>
                    				<div class="mws-form-item">
                    					<input name='contract_id' type="text" class="small">
                    				</div>

                                </div>
                                 <div class="mws-form-row">
                    				<label class="mws-form-label" >收款公司</label>
                    				<div class="mws-form-item">
                    					<input name='payee_company' type="text" class="small">
                    				</div>

                                </div>
                                 <div class="mws-form-row">
                    				<label class="mws-form-label" >收款公司电话</label>
                    				<div class="mws-form-item">
                    					<input name='payee_phone' type="text" class="small">
                    				</div>

                                </div>
                                 <div class="mws-form-row">
                    				<label class="mws-form-label" >收款公司营业执照编号</label>
                    				<div class="mws-form-item">
                    					<input name='payee_licence' type="text" class="small">
                    				</div>

                                </div>
                                <div class="mws-form-row">
                    				<label class="mws-form-label" >收款银行</label>
                    				<div class="mws-form-item">
                    					<input name='bank' type="text" class="small">
                    				</div>

                                </div>
                                <div class="mws-form-row">
                    				<label class="mws-form-label" >收款银行账号</label>
                    				<div class="mws-form-item">
                    					<input name='bank_account' type="text" class="small">
                    				</div>

                                </div>


             

                     		<div class="mws-button-row" >
                                <input type="submit" value="提交" class="btn btn-danger">
                    		</div>
                    	</form>
                    </div>    	
                </div>

            	<!-- Panels End -->
            </div>
        </div>
            <!-- Inner Container End -->
                       
<?php
        Yaf_View_Simple::display( "public/bottom.html"/*,$mune*/);
    
 ?>
   
    <script src="/static/js/demo/demo.formelements.js"></script>
    <script src="/static/js/core/finance.js"></script>

 <script>
     document.getElementById("channel-manger").style.display = "block"
    function getObj(id){
        var obj = document.getElementsByName(id);
        return obj[0].value;
    }

     function check(){
        var nameVal  = getObj('name');
        var idVal  = getObj('id');
        if(nameVal&&idVal){
            return true;
       }else{
            if(nameVal==''){
           }

           return false;
       }
    }
</script>
     
    

 


